@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mitr&display=swap');

*{
    padding:0%;
    margin:0%;
}


html{
    font-size: 1.5rem;
}
#container {
    display: flex; /* Utilizamos flexbox para alinear elementos en línea */
    align-items: center; /* Alinea verticalmente en el centro */
    
  
}
#h1{
    font-size: 50%;
    text-align: center;
    margin-left: 100%;
}



nav {
    text-align: center; 
    position: sticky;
   
    
 }
  
nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  
   
nav ul li {
    display: inline-block;
    margin: 0vw ; 
    background-color:black;
    color: whitesmoke;
    font-family: 'Inclusive Sans', sans-serif;
    text-decoration: none;
    position: sticky;
  }
a{
text-decoration: none;    
color: whitesmoke;
font-size: 30px;

}

#cajanav {
    background-color: black;
    position: sticky;
}
#Fotoprincipal{
    text-align: center;
   
}

.imagbackground1{
    background-image: url(../imagenes/salto-tandem-paracaidas-1.jpg);
    background-size: 100% auto;
    min-height: 60vw;
    background-repeat: no-repeat;
    margin-bottom: 0%;
    
}
.Verso{
    font-family: 'Mitr', sans-serif;
    text-align: left;
   
    color: whitesmoke;
    position: absolut;
    bottom: 0;
    margin: 1vw;
   
    

}
#textoFoto{
    font-size: 5vw;
}
#principales{
    margin-top: 25vw;
    font-size: 5vw;
}

#Fromeverywhere{
    text-align: left;
    font-family:   'Mitr', sans-serif ;
    margin-top: 25vw;
    font-size: 5vw;
    padding: 0vw;
    margin: 5vw;
    color: whitesmoke;
    margin-top: 5vw;
    margin-bottom: 1vw;
    margin-right: 15vw;
    margin-left: 7vw;
    


}
#Atanytime{
    text-align: left;
    font-family:   'Mitr', sans-serif ;
    color: whitesmoke;
    margin-top: 1vw;
    font-size: 5vw;
    margin-bottom: 1vw;
    margin-right: 15vw;
    margin-left: 7vw;
  
   


}

.imagbackground2{
    background-image: url(imagenes/foto.jpg);
    background-size: 100% auto;
    min-height: 60vw;
    background-repeat: no-repeat;
    margin-top: 0vw;
    font-family:   'Mitr', sans-serif ;
 

}
.Paragraph{
 font-size: 2vw;   
}
#P1 {
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Mitr', sans-serif  ;
    background-color:gray;
    border:  solid gray;
    border-radius: 2vw;
    margin-top: 0vw;
    margin-bottom: 10vw;
    margin-right: 10vw;
    margin-left: 5vw;

}
#P2 {
    font-size: 2.5vw;
    text-align: center;
    font-family:  'Mitr', sans-serif  ;
    background-color:gray;
    border:  solid gray;
    border-radius: 2vw;
    margin-top: 0vw;
    margin-bottom: 10vw;
    margin-right: 10vw;
    margin-left: 5vw;
}
#P3 {
    font-size: 2.5vw;
    text-align: center;
    font-family:  'Mitr', sans-serif  ;
    background-color:gray;
    border: 2px solid gray;
    border-radius: 2vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
    margin-right: 10vw;
    margin-left: 5vw;

}
#Link{
    font-size: 2vw;
    color: whitesmoke;

}

.ingresardato{
    font-size: 2.5vw;
    text-align: center;
    color: whitesmoke;
    font-family:  'Mitr', sans-serif  ;
    background-color:gray;
    border: 2px solid gray;
    border-radius: 2vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
    margin-right: 5vw;
    margin-left: 5vw;

}

  
  
  
  
  